---
layout: default
---
          <div id="ca89958b-ca07-4839-ab11-49f334ab24a6">
            <div id="Services" class="f18gr2zl f1hx8b4t">
              <div class="container g-0 f9mv53e">
                <!--<h2 class="animate-entry text-center f1f45za8">Services Offered by El mundo es imperfecto</h2>-->
                <div class="row row-cols-1 gx-5 row-cols-lg-3">

    {% for post in site.posts %}
                  <div class="animate-entry feature col d-flex flex-column mb-5">
                    <div class="f1otqxop">
                      <h3 class="f1gbvfvs"><a href="{{ post.siteUrl | prepend: site.url }}">
			{% if post.title != "" %}
		          {{ post.title | truncate: 25 }}
                        {% else %}
			  Entradas
			{% endif %}
				    </a></h3>
		    <p >{{ post.date | date: "(%y-%m-%d %H:%M)" }}</p>
                      <div class="pe-4 f3p0cc9">
                        <p>
   {{ post.excerpt }}
			</p>
	      </div>
	    </div>
	  </div>
      {% endfor %}

	      </div>
	    </div>
	  </div>

