          <div id="2a513986-5db6-454d-abe0-baaf26491917">
            <div id="Contact" class="fhk0rto f1hx8b4t">
              <div class="container g-0 f9mv53e">
                <div class="animate-entry fcdpsbx">
                  <h2 class="text-center f1o1p964">Contacto</h2>
                </div>
                <div class="animate-entry row g-5 pb-5 d-flex flex-row justify-content-center">
                  <div class="d-flex flex-column col-lg-6 col-sm-12 fbfqpno">
			  Fernando Tricas García
			  <br />
			  <a target="_blank" href="https://mastodon.social/@fernand0" rel="me" >Mastodon<li class="social mastodon"><i class="fa fa-mastodon-square"></i></li ></a> <a target="_blank" href="https://github.com/fernand0" rel="me" >GitHub<li class="social github"><i class="fa fa-github-square"></i></li ></a> <a target="_blank" href="mailto:fernand0+web@elmundoesimperfecto.com" rel="me" >eMail<li class="social email"><i class="fa fa-envelope"></i></li ></a> <a target="_blank" href="https://facebook.com/fernando.tricas" rel="me" > Facebook<li class="social facebook"><i class="fa fa-facebook-square"></i></li ></a>  
                  </div>
                </div>
              </div>
            </div>
          </div>
