<footer>
  <div class="footer-green">
    <div class="footer-contact">
      <a href="mailto:{{ site.email }}">Contacto</a>
    </div>
    <div class="footer-author">
      Fernando Tricas García
    </div>
    <div class="footer-social">
      {% if site.facebook %}
      <a target="_blank" href="{{site.facebook}}">
        <i class="fa fa-facebook-square"></i>
      </a>
      {% endif %}
      {% if site.twitter %}
      <a target="_blank" href="{{site.twitter}}">
        <i class="fa fa-twitter-square"></i>
      </a>
      {% endif %}
      {% if site.github %}
      <a target="_blank" href="{{site.github}}">
        <i class="fa fa-github-square"></i>
      </a>
      {% endif %}
      {% if site.email %}
      <a target="_blank" href="mailto:{{site.email}}">
        <i class="fa fa-envelope"></i>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="footer-white">
    <span class="copyright">
      &copy; {{ site.time | date: "%Y" }} 
      <a href="http://elmundoesimperfecto.com" target="_blank">Fernando Tricas García</a> — El Mundo Es Imperfecto
    </span>
  </div>
</footer>