<head>
  <meta charSet="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
  <meta name="msapplication-config" content="/browserconfig.xml" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="icon" href="/favicon/favicon.ico" />
  <meta name="theme-color" content="#ffffff" />
  <title>El mundo es imperfecto - Embrace Your Unique Journey</title>
  <meta name="description"
    content="El mundo es imperfecto, todos podemos hacer algo para mejorarlo. World is not perfect, everybody can do something to improve it" />
  <meta name="keywords" content="agregador, aggregator" />
  <meta name="author" content="El mundo es imperfecto" />
  <meta name="copyright" content="El mundo es imperfecto" />
  <meta name="application-name" content="El mundo es imperfecto" />
  <meta property="og:title" content="Todos podemos hacer algo para mejorarlo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://elmundoesimperfecto.com/" />
  <meta property="og:description"
    content="At El mundo es imperfecto, we celebrate the beauty of individuality. Our personal portfolio services are designed to help you showcase your unique story and skills. Let&#x27;s create something extraordinary together!" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Embrace Your Unique Journey" />
  <meta name="twitter:description"
    content="At El mundo es imperfecto, todos podemos hacer algo para mejorarlo. World is not perfect, everybody can do something to improve it" />
  <link rel="stylesheet"
    data-href="https://fonts.googleapis.com/css2?family=Open%20Sans:wght@600&amp;family=Inter:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
    data-optimized-fonts="true" />
  <meta name="next-head-count" content="20" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <style rel="preload" id="typestyle-target">
    .f18iwiey {
      font-size: 14px;
      line-height: 24px
    }

    .f1i8h9x0 {
      font-size: 16px;
      line-height: 28px
    }

  <link rel="stylesheet" href={{"/css/main.css" | relative_url}} /> 
  <link
  rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{
  "/feed.xml" | relative_url }}">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
